In [95]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import cross_val_score
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib notebook

In [139]:
r2 = lambda x: round(x,2)

In [97]:
bc_df = pd.read_csv("breast_cancer.csv")

In [98]:
bc_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 683 entries, 0 to 682
Data columns (total 11 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Sample code number           683 non-null    int64
 1   Clump Thickness              683 non-null    int64
 2   Uniformity of Cell Size      683 non-null    int64
 3   Uniformity of Cell Shape     683 non-null    int64
 4   Marginal Adhesion            683 non-null    int64
 5   Single Epithelial Cell Size  683 non-null    int64
 6   Bare Nuclei                  683 non-null    int64
 7   Bland Chromatin              683 non-null    int64
 8   Normal Nucleoli              683 non-null    int64
 9   Mitoses                      683 non-null    int64
 10  Class                        683 non-null    int64
dtypes: int64(11)
memory usage: 58.8 KB

In [99]:
bc_df.head()

,Sample code number,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses,Class
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2

In [100]:
X = bc_df.iloc[:,1:-1]
y = bc_df.iloc[:,-1]

In [101]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.25,random_state=0)

In [102]:
lgr = LogisticRegression()

In [103]:
lgr.fit(X_train,y_train)

LogisticRegression()

In [104]:
ypred = lgr.predict(X_test)

In [105]:
cm = confusion_matrix(y_test,ypred)

In [142]:
print("Confusion Matrix:" + "\n" + "{}".format(cm))

Confusion Matrix:
[[103   4]
 [  5  59]]

In [136]:
ma = ((cm[0,0] + cm[1,1]) / cm.sum()) * 100

In [138]:
print("Model Accuracy: {:.2f}%".format(ma))

Model Accuracy: 94.74%

In [109]:
lgr = LogisticRegression()

In [127]:
cvs = cross_val_score(lgr,X,y,cv=10)

In [134]:
ma_cv = r2(cvs.mean() * 100)
ma_cv_std = cvs.std() * 100

In [135]:
print("Model Accuracy 10 Fold Cross Validation: {}%".format(ma_cv) 
      + "\n"
      + "Model Accuracy Standard Deviation: {:.2f}%".format(ma_cv_std))

Model Accuracy 10 Fold Cross Validation: 96.79%
Model Accuracy Standard Deviation: 2.50%